# We create a composite action to be re-used both for testing and for releasing
name: build-linux-wheel
description: "Build a manylinux wheel for lance"
inputs:
  python-minor-version:
    description: "8, 9, 10, 11"
    required: true
  args:
    description: "--release"
    required: false
    default: ""
  arm-build:
    description: "Build for arm64 instead of x86_64"
    required: false
    default: 'false'
runs:
  using: "composite"
  steps:
    - name: CONFIRM ARM BUILD
      shell: bash
      run: |
        echo "ARM BUILD: ${{ inputs.arm-build }}"
    - name: Build manylinux image
      if: ${{ inputs.arm-build == 'false' }}
      shell: bash
      working-directory: python
      run: |
        docker build -t pylance_manylinux -f tools/Dockerfile.manylinux2014  tools/
    - name: Build manylinux image (arm)
      if: ${{ inputs.arm-build == 'true' }}
      shell: bash
      working-directory: python
      run: |
        docker build -t pylance_manylinux -f tools/Dockerfile.manylinux2014_aarch64 tools/
    - name: Setup QEMU for ARM
      if: ${{ inputs.arm-build == 'true' }}
      uses: docker/setup-qemu-action@v3
      with:
        platforms: arm64
    - name: Build wheel
      uses: PyO3/maturin-action@v1
      with:
        command: build
        args: ${{ inputs.args }}
        working-directory: python
        target: aarch64-unknown-linux-gnu
        container: pylance_manylinux
        docker-options: "-e SOME_FLAG_TO_INVALIDATE_CACHE=1"
