# file specification
protos/file*.proto @file-spec-team
protos/encodings*.proto @file-spec-team
docs/src/format/file/ @file-spec-team

# table specification
protos/table.proto @table-spec-team
protos/rowids.proto @table-spec-team
docs/src/format/table/ @table-spec-team

# index specification
protos/index.proto @index-spec-team
protos/index_old.proto @index-spec-team
docs/src/format/table/index/ @index-spec-team
