[submodule "integration/duckdb_lance/duckdb"]
	path = integration/duckdb_lance/duckdb
	url = https://github.com/duckdb/duckdb.git
[submodule "integration/duckdb_lance/duckdb-extension-framework"]
	path = integration/duckdb_lance/duckdb-extension-framework
	url = https://github.com/eto-ai/duckdb-extension-framework.git
	branch = lance
