# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


**/*~
**/__pycache__
build/
dist/
*.egg-info/
.python-version

.idea
cmake-build-*
.vscode
.DS_Store

python/lance/_lib.cpp


*.parquet
*.parq
*.lance

python/thirdparty/arrow/
python/wheels

logs
*.ckpt

docs/_build
docs/api/python

**/.ipynb_checkpoints/
docs/notebooks


integration/duckdb/manylinux-build
python/notebooks/lance.duckdb_extension