name: Bump version for releases
description: "Call bumpversion"
inputs:
  part:
    description: 'What kind of release is this?'
    required: true
    default: 'release'
runs:
  using: "composite"
  steps:
  - name: Set git configs for bumpversion
    shell: bash
    run: |
      git config user.name 'Lance Release'
      git config user.email 'lance-dev@lancedb.com'
  - name: Create release version and tags
    working-directory: python
    shell: bash
    run: |
      cargo install cargo-bump
      cargo bump ${{ inputs.part }}
  - name: Synchronize rust version
    shell: bash
    run: |
      cargo install cargo-workspaces --version 0.2.44
      cargo ws version --no-git-commit -y --exact --force 'lance*' ${{ inputs.part }}
