[package]
name = "lance"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
description.workspace = true
readme = "README.md"
rust-version.workspace = true
keywords.workspace = true
categories.workspace = true

[package.metadata.docs.rs]
features = []
no-default-features = true

[dependencies]
lance-arrow = { workspace = true }
lance-core = { workspace = true }
lance-datafusion = { workspace = true }
lance-datagen = { workspace = true }
lance-linalg = { workspace = true }
lance-index = { workspace = true }
arrow-arith = { workspace = true }
arrow-array = { workspace = true }
arrow-buffer = { workspace = true }
arrow-cast = { workspace = true }
arrow-data = { workspace = true }
arrow-ipc = { workspace = true }
arrow-ord = { workspace = true }
arrow-row = { workspace = true }
arrow-schema = { workspace = true }
arrow-select = { workspace = true }
async-recursion.workspace = true
async-trait.workspace = true
byteorder.workspace = true
bytes.workspace = true
chrono.workspace = true
clap = { version = "4.1.1", features = ["derive"], optional = true }
# This is already used by datafusion
dashmap = "5"
# matches arrow-rs use
half.workspace = true
http.workspace = true
object_store.workspace = true
aws-config.workspace = true
aws-credential-types.workspace = true
pin-project.workspace = true
prost.workspace = true
prost-types.workspace = true
roaring.workspace = true
tokio.workspace = true
url.workspace = true
rand.workspace = true
futures.workspace = true
uuid.workspace = true
shellexpand.workspace = true
arrow = { version = "48.0.0", features = ["prettyprint"] }
num_cpus.workspace = true
# TODO: use datafusion sub-modules to reduce build size?
datafusion.workspace = true
datafusion-physical-expr.workspace = true
lapack = { version = "0.19.0", optional = true }
cblas = { version = "0.4.0", optional = true }
lru_time_cache = "0.11"
num-traits.workspace = true
ordered-float = "3.6.0"
snafu = { workspace = true }
log = { workspace = true }
serde_json = { workspace = true }
serde = { workspace = true }
moka.workspace = true
tfrecord = { version = "0.15.0", optional = true, features = ["async"] }
aws-sdk-dynamodb = { workspace = true, optional = true }
tempfile.workspace = true
tracing.workspace = true
lazy_static = { workspace = true }
base64 = "0.21.4"
async_cell = "0.2.2"

[target.'cfg(target_os = "macos")'.dependencies]
accelerate-src = { version = "0.3.2", optional = true }

# docs.rs won't build with openblas-src, because it downloads file from internet.
[target.'cfg(target_os = "linux")'.dependencies]
openblas-src = { version = "0.10.8", default-features = false, features = [
    "static",
    "cblas",
], optional = true }

[target.'cfg(target_os = "linux")'.dev-dependencies]
pprof.workspace = true

[target.'cfg(target_os = "windows")'.dependencies]
openblas-src = { version = "0.10.8", default-features = false, features = [
    "system",
], optional = true }

[build-dependencies]
prost-build.workspace = true

[dev-dependencies]
lance-test-macros = { workspace = true }

clap = { version = "4.1.1", features = ["derive"] }
criterion = { workspace = true }

approx.workspace = true
dirs = "5.0.0"
all_asserts = "2.3.1"
mock_instant.workspace = true
lance-testing = { workspace = true }
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
env_logger = "0.10.0"
tracing-chrome = "0.7.1"

[features]
avx512fp16 = ["lance-linalg/avx512fp16"]
cli = ["clap"]
# opq = ["cblas", "lapack", "openblas-src", "accelerate-src"]
tensorflow = ["tfrecord"]
dynamodb = ["lance-core/dynamodb", "aws-sdk-dynamodb"]
dynamodb_tests = ["dynamodb"]

[[bin]]
name = "lq"
required-features = ["cli"]

[[bench]]
name = "scalar_index"
harness = false

[[bench]]
name = "scan"
harness = false

[[bench]]
name = "vector_index"
harness = false

[[bench]]
name = "ivf_pq"
harness = false
