name: run-tests

description: "Install lance wheel and run unit tests"
inputs:
  python-minor-version:
    required: true
    description: "8 12"
runs:
  using: "composite"
  steps:
  - name: Install dependencies
    working-directory: python
    shell: bash
    run: |
      # Install cpu only pytorch
      pip install torch --index-url https://download.pytorch.org/whl/cpu
      pip3 install $(ls target/wheels/pylance-*.whl)[tests,ray]
  - name: Run python tests
    shell: bash
    working-directory: python
    run: make test
  - name: Run doctest
    shell: bash
    working-directory: python
    run: |
      pytest --doctest-modules python/lance