name: run-tests

description: "Install lance wheel and run unit tests"
inputs:
  python-minor-version:
    required: true
    description: "9 10 11 12"
runs:
  using: "composite"
  steps:
    - name: Sync environment
      shell: bash
      working-directory: python
      run: |
        set -euo pipefail
        uv sync --frozen --extra tests
    - name: Run python tests
      shell: bash
      working-directory: python
      run: make test PYTEST_MARK_EXPR='not pandas_dep and not tf_dep'
