name: Publish Rust crate

on:
  release:
    types: [published]
  push:
    branches:
      - albert-test

env:
  # This env var is used by Swatinem/rust-cache@v2 for the cache
  # key, so we set it to make sure it is always consistent.
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./rust
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y protobuf-compiler libssl-dev
      - uses: albertlockett/publish-crates@v2.0
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          args: '--all-features'
          dry-run: true
          path: ./rust
