name: Deploy docs to Pages

on:
  push:
    branches: ["main"]
  pull_request:
    paths:
      - docs/**

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

env:
  # Disable full debug symbol generation to speed up CI build and keep memory down
  # "1" means line tables only, which is useful for panic tracebacks.
  RUSTFLAGS: "-C debuginfo=1"
  # according to: https://matklad.github.io/2021/09/04/fast-rust-builds.html
  # CI builds are faster with incremental disabled.
  CARGO_INCREMENTAL: "0"

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-22.04-4core
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: 'pip'
          cache-dependency-path: "docs/requirements.txt"
      - name: Install dependencies
        run: |
          sudo apt install -y -qq doxygen pandoc
      - name: Build python wheel
        uses: ./.github/workflows/build_linux_wheel
      - name: Build Python
        working-directory: python
        run: |
          python -m pip install $(ls target/wheels/*.whl)
          python -m pip install -r ../docs/requirements.txt
      - name: Build docs
        working-directory: docs
        run: |
          make nbconvert
          make html
      - name: Check links
        working-directory: docs
        run: |
          make linkcheck
      - name: Setup Pages
        uses: actions/configure-pages@v2
        if: github.ref == 'refs/heads/main'
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'docs/_build/html'
        if: github.ref == 'refs/heads/main'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
        if: github.ref == 'refs/heads/main'

