name: Build and upload python wheels

on:
  push:
    branches:
      - main
  #  release:
  #   types: [published]

jobs:
  linux:
    timeout-minutes: 60
    strategy:
      matrix:
        python-minor-version: [ "8" ]
    runs-on: "ubuntu-22.04"
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        lfs: true
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.${{ matrix.python-minor-version }}
    - uses: ./.github/workflows/build_linux_wheel
      with:
        python-minor-version: ${{ matrix.python-minor-version }}
        args: "--release"
    - uses: ./.github/workflows/upload_wheel
      with:
        python-minor-version: ${{ matrix.python-minor-version }}
        token: ${{ secrets.PYPI_TOKEN }}
        repo: "pypi"
  linux-arm:
    timeout-minutes: 60
    strategy:
      matrix:
        python-minor-version: [ "8" ]
    runs-on: buildjet-4vcpu-ubuntu-2204-arm
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        lfs: true
    - name: Set up Python
      run: |
        sudo apt update
        sudo apt install wget software-properties-common
        sudo add-apt-repository ppa:deadsnakes/ppa
        sudo apt install python3.${{ matrix.python-minor-version }}
        sudo update-alternatives --install /usr/bin/python python /usr/bin/python3.${{ matrix.python-minor-version }} 1
        sudo apt install python3-pip
        sudo apt install python3.${{ matrix.python-minor-version }}-distutils
    - uses: ./.github/workflows/build_linux_wheel
      with:
        python-minor-version: ${{ matrix.python-minor-version }}
        args: "--release"
    - uses: ./.github/workflows/upload_wheel
      with:
        python-minor-version: ${{ matrix.python-minor-version }}
        token: ${{ secrets.PYPI_TOKEN }}
        repo: "pypi"
  mac:
    timeout-minutes: 60
    runs-on: "macos-12"
    strategy:
      matrix:
        python-minor-version: ["8"]
        target: [x86_64-apple-darwin, aarch64-apple-darwin]
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.15
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ inputs.ref }}
        fetch-depth: 0
        lfs: true
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.${{ matrix.python-minor-version }}
    - uses: ./.github/workflows/build_mac_wheel
      with:
        python-minor-version: ${{ matrix.python-minor-version }}
        args: "--release --strip --target ${{ matrix.target }}"
    - uses: ./.github/workflows/upload_wheel
      with:
        python-minor-version: ${{ matrix.python-minor-version }}
        token: ${{ secrets.PYPI_TOKEN }}
        repo: "pypi"
  windows:
    timeout-minutes: 60
    runs-on: windows-latest
    strategy:
      matrix:
        python-minor-version: ["8"]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0
          lfs: true
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.${{ matrix.python-minor-version }}
      - uses: ./.github/workflows/build_windows_wheel
        with:
          python-minor-version: ${{ matrix.python-minor-version }}
          args: "--release"
          vcpkg_token: ${{ secrets.VCPKG_GITHUB_PACKAGES }}
      - uses: ./.github/workflows/upload_wheel
        with:
          python-minor-version: ${{ matrix.python-minor-version }}
          token: ${{ secrets.PYPI_TOKEN }}
          repo: "pypi"