name: Build and run Rust tests
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - rust/**
      - protos/**
      - .github/workflows/rust.yml

env:
  # This env var is used by Swatinem/rust-cache@v2 for the cache
  # key, so we set it to make sure it is always consistent.
  CARGO_TERM_COLOR: always
  # Disable full debug symbol generation to speed up CI build and keep memory down
  # "1" means line tables only, which is useful for panic tracebacks.
  RUSTFLAGS: "-C debuginfo=1"
  RUST_BACKTRACE: "1"
  # according to: https://matklad.github.io/2021/09/04/fast-rust-builds.html
  # CI builds are faster with incremental disabled.
  CARGO_INCREMENTAL: "0"

jobs:
  linux-build:
    runs-on:
      group: large-runners
      labels: ubuntu-22.04-4core
    timeout-minutes: 31
    defaults:
      run:
        working-directory: ./rust
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y protobuf-compiler libssl-dev
      - name: Run cargo fmt
        run: cargo fmt --check
      # split everything us so we know what's slow.
      - name: Build
        run: |
          cargo build --all-features
      - name: Build test
        run: |
          cargo test --all-features --no-run
      - name: Run tests
        run: |
          cargo test --all-features
  linux-arm:
    runs-on: buildjet-16vcpu-ubuntu-2204-arm
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./rust
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y protobuf-compiler libssl-dev pkg-config
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Run cargo fmt
        run: cargo fmt --check
      # split everything us so we know what's slow.
      - name: Build
        run: |
          cargo build --no-default-features
      - name: Build test
        run: |
          cargo test --no-run
      - name: Run tests
        run: |
          cargo test
  clippy:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./rust
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y protobuf-compiler libssl-dev
      - name: Run clippy
        run: cargo clippy --all-features --tests -- -D warnings
  mac-build:
    runs-on: macos-12
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./rust
    steps:
      - uses: actions/checkout@v3
      - name: CPU features
        run: sysctl -a | grep cpu
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust
      - name: Install dependencies
        run: brew install protobuf
      - name: Run tests
        run: |
          cargo build --all-features
          cargo test --all-features
  windows-build:
    runs-on: windows-latest
    timeout-minutes: 90
    defaults:
      run:
        working-directory: rust
    env:
      VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: rust
      - uses: ./.github/workflows/install_windows_dependencies
        with:
          vcpkg_token: ${{ secrets.VCPKG_GITHUB_PACKAGES }}
          update_vcpkg: true
      - name: Run tests
        run: |
          $env:VCPKG_ROOT = $env:VCPKG_INSTALLATION_ROOT
          $env:PATH = $env:VCPKG_INSTALLATION_ROOT + '\installed\x64-windows\bin;' + $env:PATH
          $env:PATH = $env:VCPKG_INSTALLATION_ROOT + '\installed\x64-windows-static-md\bin;' + $env:PATH
          $env:PATH = $env:VCPKG_INSTALLATION_ROOT + '\installed\x64-windows\tools\protobuf;' + $env:PATH
          cargo build --all-features
          cargo test --all-features
